$header-height: 50px;
$sidebar-width: 300px;
$primary-color-1: #f8444f;
$primary-color-2: #f7f8f3;
$primary-color-3: #91d2d9;
$primary-color-4: #397288;
$primary-color-5: #ff0011;
$primary-color-6: #c5f600;
$primary-color-7: #00adc0;
$primary-color-8: #002b3c;

$white-color: #fff;
$black-color: #000;

$icon-size: (
  xs: 10px,
  sm: 20px,
  md: 30px,
  lg: 50px,
  xl: 100px,
);
