@import "src/ui/styles/common/importer.scss";

.menu-item-group {
  .parent {
    @include flex-box(row, flex-start, center);
    padding: 10px;
    cursor: pointer;
    position: relative;
    &__icon {
      @extend .icon--sm;
      margin-right: 10px;
      color: $white-color;
      &__arrow {
        position: absolute;
        right: 10px;
        margin: 0;
        transition: 0.5s;
        &--show {
          @extend .parent__icon__arrow;
          transform: rotate(90deg);
        }
      }
      > * {
        width: 100%;
        height: 100%;
      }
    }

    &__text {
      color: $white-color;
    }

    &:hover {
      background-color: $primary-color-1;
    }
  }

  .childs {
    display: none;
    &--show {
      // padding-left: 10px;
      display: block;
    }
  }
}
